/* Stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Open Sans', sans-serif;
}

/* Stili header */
header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}
header a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}
.cella img{
    line-height: 0;
}
.cella a{
    vertical-align: 6px;
}
.cella:nth-of-type(2) a:last-child{
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: rgb(52, 123, 255);
}

/* Stili main */
main{
    margin-top: 60px;
}
.container_esteso{
    width: 100%;
    /* DEBUG */
    background-color: rgb(56, 134, 173);
    min-height: 360px;
}

.container_centrale{
    width: 70%;
    margin: 0 auto;
    /* DEBUG */
    background-color: rgb(224, 65, 25);
    min-height: 360px;
}

/* Stili footer */
#footer{
    background-color: black;
}